/Gemini-Apollo/nbproject/private

/Gemini-Apollo/nbproject/project.bak.xml
/Gemini-Apollo/build/
/Periscope/nbproject/private/
/Periscope/build/
/Periscope/dist/
ChickenCoop/build/classes/chickencoop/ChickenDisplay$1.class
ChickenCoop/build/classes/chickencoop/ChickenDisplay.class
ChickenCoop/build/classes/chickencoop/ProccessButton$1.class
ChickenCoop/build/classes/chickencoop/ProccessButton.class
ChickenCoop/build/classes/chickencoop/ProcessAnalysis.class
ChickenCoop/build/classes/janus/engine/graphics/AddingManager.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphicalInterface.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphics$1.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphics$SimpleCanvas$1$1.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphics$SimpleCanvas$1.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphics$SimpleCanvas$2.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphics$SimpleCanvas.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphics.class
ChickenCoop/build/classes/janus/engine/graphics/SimpleGraphicsAbsorber.class
ChickenCoop/build/classes/janus/engine/graphics/SimplePen.class
ChickenCoop/build/classes/janus/engine/graphics/StorageCenter.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/Addable.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/Animation.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/Clickable.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/Drawable.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/Inputable.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/Updateable.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/complex/Button.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/complex/Changeable.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/complex/Interactable.class
ChickenCoop/build/classes/janus/engine/graphics/drawables/complex/Player.class
ChickenCoop/build/classes/janus/engine/graphics/image/ImageRotator.class
ChickenCoop/build/classes/janus/engine/graphics/listeners/ListenFunctionizer$BooleanTracker.class
ChickenCoop/build/classes/janus/engine/graphics/listeners/ListenFunctionizer$KeyListner.class
ChickenCoop/build/classes/janus/engine/graphics/listeners/ListenFunctionizer$MouseListner.class
ChickenCoop/build/classes/janus/engine/graphics/listeners/ListenFunctionizer.class
ChickenCoop/build/classes/janus/engine/graphics/physics/Point.class
ChickenCoop/build/classes/janus/engine/graphics/physics/Vector.class
ChickenCoop/build/built-jar.properties
ChickenCoop/build/classes/chickencoop/ChickenCoop.class
ChickenCoop/nbproject/private/private.properties
ChickenCoop/nbproject/private/private.xml
